# Sistema operacional
.DS_Store
Thumbs.db

# Node (caso você decida usar depois)
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Compilação ou builds (caso use futuramente)
dist/
build/

# Arquivos temporários
*.log
*.tmp
*.temp
*.cache
*.swp
*.zip

# VSCode
.vscode/

# Ambiente
.env
.env.local
.env.development
.env.production

# Pastas de IDE
.idea/
*.iml

#testes
test/