/* ================= RESPONSIVO ================= */
@media (max-width: 900px) {

  .musica-layout {
    flex-direction: column;
  }

  .letra,
  .lado-direito {
    min-width: 100%;
  }

  /* HEADER DO MAIN */
  .musica-header {
    align-items: center;
    text-align: center;
  }

  .musica-topo {
    flex-direction: column;
    gap: 8px;
  }

  .musica-logo {
    width: 64px;
    height: 64px;
  }

  .audio-box {
    width: 100%;
  }
}